*{
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

body {
    background: #E8DEDE;
    display: flex;
}

h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.022em;
}

.left-container {
    margin-right: 100px;
}

.book-list {
    background-color: #fff;
}

.book-item {
    height: 30px;
    width: 742px;
    padding: 4px 11px;
    display: flex;
}

.book-item__p {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.017em;
    width: 452px;
    padding-top: 4px;
}

.book-item__button {
    border: 2px solid #000000;
    border-radius: 6px;
    padding: 9px 8px 7px 7px;
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-right: 5px;
    float: right;
    cursor: pointer;
}

.book-item__button:last-child {
    margin-right: 0;
}

.left-header {
    margin-bottom: 20px;
}

.book-container {
    padding: 9px;
    width: 764px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.form-container {
    padding: 20px;
    width: 742px;
    background-color: #fff;
}

.selector-container {
    display: flex;
    height: 40px;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-right: 17px;
    margin-top: 7px;
}

.form__p {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -0.017em;
    color: rgba(0, 0, 0, 0.8);
}

.form-input {
    padding-left: 17px;
    width: 721px;
    border: 2px solid #000000;
}

.header-input {
    height: 39px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.description-input {
    height: 135px;
    margin-bottom: 10px;
}

.submit-button {
    width: 742px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
}

.input-file {
    width: 728px;
    height: 30px;
    border: 2px solid #000;
    padding: 5px;
    padding-top: 10px;
    background-color: transparent;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.book {
    background: #E5E5E5;
    border: 10px solid #F0F0F0;
    /* box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.5), inset 0px 0px 30px rgba(0, 0, 0, 0.1); */
    width: 1000px; 
    height: 1264px;
    padding-top: 27px;
    padding-left: 75px;
}

.book__name {
    margin-bottom: 13px;
}

.readedBook {
    background-color: #E8DEDE;
    order: 1;
}

.readedButton {
    color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}